$color: yellow;
$bg-color: gray;
body {
  background: $bg-color;
  h1 {
  font-size: 30px;
  color: $color;

  }
}

.content{
  .box{
    height: 50px;
    width: 800px;
    border: 1px solid #000;
    background-image: url('./img/2.png');
  }
}